.App {
    flex: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
  }
  
  .form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .form {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .form-exit {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
.form-box-center{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;;
}  
